.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fafafa;
  height: 50px;
  padding: 50px 0;
  color: orange;
  border-bottom: 1px solid #dfdfdf;
}

.App-main {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
